* {
  font-family: Montserrat, Inter, Roboto, -apple-system, BlinkMacSystemFont,
    PingFang SC, Microsoft YaHei, sans-serif !important;
    box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}
